In [64]:
from scipy import stats
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [65]:
csvData = pd.read_csv('hw_25000.csv', names = ['index','height_inches', 'weight_pounds'], header = 0)

In [66]:
csvData.head()

   index  height_inches  weight_pounds
0      1       65.78331       112.9925
1      2       71.51521       136.4873
2      3       69.39874       153.0269
3      4       68.21660       142.3354
4      5       67.78781       144.2971

In [67]:
#Перевод роста и веса в сантиметры и килограммы
csvData['height'] = csvData['height_inches'] * 2.54
csvData['weight'] = csvData['weight_pounds'] * 0.454
del csvData['height_inches']
del csvData['weight_pounds']

csvData.head()

   index      height     weight
0      1  167.089607  51.298595
1      2  181.648633  61.965234
2      3  176.272800  69.474213
3      4  173.270164  64.620272
4      5  172.181037  65.510883

In [69]:
#Делаем выборку 20 людей с ростом больше 170 и меньше 180
test_selected = csvData[(csvData.height > 170) & (csvData.height < 180)].head(20)

#Среднее значение веса среди всех людей в этом файле
mean_for_all = csvData['weight'].mean()
mean_for_all

57.69405720700326

In [57]:
#Среднее значение веса в выборке
test_selected['weight'].mean()

60.34754594000001

In [ ]:
Средний вес выборки больше чем средний вес во всем списке файла. Вычислим P-значение

In [49]:
stats.ttest_1samp(test_selected['weight'], popmean=mean_for_all)

Ttest_1sampResult(statistic=2.2438433326709446, pvalue=0.036952752151284574)

ВЫВОДЫ: Разница между средним весом людей в файле и средним весом людей в выборке статистически значима, так как pvalue менее 0,05. Средний вес выборки и средний вес в файле не слишком различны и принадлежат к генеральной совокупности