# ЗАДАНИЕ 2.2: Исходные данные — файл со статистикой горных вершин. В столбце Parent Mountain указан хребет, к которому принадлежит гора.Вам необходимо с помощью Pandas посчитать количество упоминаний каждого хребта в столбце Parent Mountain, но только если это количество больше 3.

In [1]:
import pandas as pd

In [2]:
csvData = pd.read_csv('Mountains.csv')
csvData.head()

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0

In [ ]:
# Считаем упоминания хребта в столбце Parent mountain c условием больше 3 упоминаний

In [4]:
val_counts = csvData['Parent mountain'].value_counts()
val_counts.loc[val_counts > 3]

Mount Everest    9
Gasherbrum I     8
Kangchenjunga    7
Cho Oyu          7
Distaghil Sar    5
K2               5
Dhaulagiri       4
Shisha Pangma    4
Name: Parent mountain, dtype: int64